$merriweather-font: "Merriweather", serif;
$golos-text-font: "Golos Text", sans-serif;
$transition-duration: 0.3s;
$hover-scale: 1.03;

@mixin merriweather($weight: 400) {
  font-family: $merriweather-font;
  font-weight: $weight;
  font-style: normal;
}

@mixin golos-text($weight: 400) {
  font-family: $golos-text-font;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@mixin img-styles($transition-duration) {
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all $transition-duration;
  -webkit-transition: all $transition-duration;
  transition: all $transition-duration;
}
@mixin hover-transform($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  transform: scale($scale);
}
body {
  padding: 0 0;
  margin: 0;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include golos-text($weight: 400);
}
header, footer, nav, a {
  display: flex;
  text-decoration: none;
}
main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
hey {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: #E9DED4;
  .logo {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    div {
      width: 146px;
      font-weight: 800;
      margin: 0 0 0 8px;
      color: #595653;
    }
  }
  .img-hey {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    .img-city {
      width: 1604px;
      z-index: 900;
    }
    .img-paper {
      width: 100%;
      opacity: 0.2;
      z-index: 800;
      bottom: 0;
      left: 0;
      position: absolute;
    }
    .img-circle {
      width: 660px;
      height: 660px;
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 700;
    }
  }
  .hey-main {
    width: 1222px;
    margin: 29px 0 0 0;
    z-index: 1000;
  }
  .greeting {
    margin: 74px 0 0 0;
    width: 542px;
    h1 {
      font-size: 60px;
      text-transform: uppercase;
      line-height: 1;
      color: #313131;
      margin: 0;
      padding: 0;
      @include merriweather($weight: 400);
    }
    h1:nth-of-type(2) {
      text-align: center;
    }
    .greeting-info {
      text-align: center;
      font-size: 18px;
      margin: 44px 0;
    }
    .greeting-buttons {
      display: flex;
      justify-content: center;
      button {
        border: 2px solid black;
        border-radius: 40px;
        width: 205px;
        padding: 0;
        margin: 0;
        height: 68px; 
        background: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
        white-space: pre-line;
        @include golos-text($weight: 500);
      }
      button:nth-of-type(2) {
        background: none;
        color: #1F1F1F;
        width: 321px;
        margin: 0 0 0 16px;
      }
    }
  }
}
.running-line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: red;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.line-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  margin-right: 20px;
  text-transform: uppercase;
  animation: scroll 25s linear infinite;
  @include merriweather($weight: 400);
}
.circle {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
block {
  width: 1222px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2em 0;
}
footer {
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #E9DED4;
  color: #313131;
  font-size: 16px;
  div {
    display: flex;
    flex-direction: column;
    width: 1222px;
  }
}
.jet-img {
  width: 100%;
}
.error {
  display: flex;
  width: 40em;
  margin: 1em 0 0 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  img {
    border-radius: 10px;
  }
}
.error:hover {
  text-decoration: underline 1px solid white;
}

@media screen and (max-width: 1250px) {
  header, footer {
    max-width: 90%;
  }
  footer {
    div {
      flex-direction: column;
    }
    nav {
      flex-direction: row;
      a {
        padding: 0.3rem;
      }
    }
  }
  hey {
    width: 500px;
    max-width: 90%;
  }
  block {
    width: 1600px;
    max-width: 90%;
  }
}
@media screen and (max-width: 860px) {
  hey {
    width: 90%;
    margin-bottom: 0;
    flex-direction: column;
    .greeting {
      max-width: 100%;
      margin: 0 0 2em 0;
      h3 {
        margin: 3em 0 0 0;
      }
    }
    h1 {
      font-size: 1.8em;
      max-width: 100%;
      margin: 2em 0;
    }
    .img-hey {
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
  .error {
    width: 90%;
    padding: 0;
    img {
      width: 100%;
    }
  }
  block {
    flex-direction: column;   
}
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 2em 0;
    margin: 5em 0 2em 0;
    img {
      margin: 2em 2em;
    }
    p {
      width: 80%;
      text-align: center;
    }
    div, nav {
      margin: 0 0;
    }
    nav {
      flex-direction: column;
    }
    a {
      justify-content: center;
      text-align: center;
    }
  }
  form {
    label {
      padding: 2px 4px;
    }
  }
}
