$light-bg-color: white;
$light-text-color: black;
$dark-bg-color: hsl(0, 0%, 14%);
$dark-text-color: white;
$primary: #3A7189;
$second: #028001;
$cinnamon: #986544;
$ginger: #d2a45d;
$russian: #ffb7b4;
$geologica-font: "Geologica", sans-serif;
$mulish-font: "Mulish", sans-serif;
$transition-duration: 0.3s;
$hover-scale: 1.03;

@mixin geologica($weight: 400, $cursive: 0, $sharpness: 50) {
    font-family: $geologica-font;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" $cursive,
      "SHRP" $sharpness;
}
@mixin mulish($weight: 400) {
    font-family: $mulish-font;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}
@mixin img-styles($transition-duration) {
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all $transition-duration;
  -webkit-transition: all $transition-duration;
  transition: all $transition-duration;
}
@mixin hover-transform($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  transform: scale($scale);
}
body {
  color: var(--text-color);
  padding: 0 0;
  margin: 0;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include geologica($weight: 400, $cursive: 0, $sharpness: 50);
}
header, footer, nav, a {
  display: flex;
  text-decoration: none;
}
header {
  justify-content: left;
  align-items: center;
  width: 1340px;
  max-width: 90%;
  background-color: black;
  border-radius: 10px;
  margin: 2em 0 0 0;
  align-items: center;
  @include mulish($weight: 800);
  img {
    margin: 0 60px 0 0;
    width: 120px;
    height: auto;
  }
  nav {
    height: 75px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    // background-color: black;
    padding: 0 2% 0 2%;
  }
  a {
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: white;
  }
  a:hover {
    text-decoration: underline 2px solid white;
  }
  .logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 70px;
    // margin: 0 1% 0 0;
    height: 75px;
    border-radius: 10px 0 0 10px;
    // background-color: black;
    img {
      width: 80%;
      height: 80%;
      padding: 0;
      margin: 0;
    }
  }
  menu {
    color: white;
    cursor: pointer;
    padding: 0;
    font-size: 1.4rem;
    margin: 0 0 0 auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40px;
    gap: 8px;
    div {
      background-color: white;
      margin: 0;
      width: 7px;
      height: 7px;
      border-radius: 1.5px;
    }
  }
  mobilemenu {
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 86%;
    // border: 0.2px solid rgb(218, 213, 213);
    position: fixed;
    flex-wrap: no-wrap;
    flex-direction: column;
    top: 2em;
    right: 5%;
    padding: 2%;
    border-radius: 10px;
    z-index: 1000;
    a {
      padding: 0.8em 0.8em;
      font-size: 1.2em;
      // border-bottom: 1px solid black;
      display: none;
      color: white;
      text-align: center;
    }
    a:hover {
      text-decoration: underline 2px solid white;
    }
  }
}
main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  h1 {
    font-size: 2.5em;
    margin: 2em 0 0 0;
  }
}
heyibri {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 2.5em 0 5em 0;
  justify-content: flex-start;
  width: 1000px;
  max-width: 90%;
  img {
    width: 60%;
    max-height: 650px;
    object-fit: cover;
    border-radius: 10px;
  }
  h1 {
    font-size: 2em;
    margin: 2em 0 1em 0;
    padding: 0;
    max-width: 70%;
    @include geologica($weight: 1000, $cursive: 0, $sharpness: 20);
  }
  div {
    margin: 2em 0;
  }
}
footer {
  flex-wrap: wrap;
  height: 10rem;
  width: 1000px;
  max-width: 90%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: #CAC1FF;
  color: black;
  font-size: 0.9em;
  padding: 1.5rem 0 0 0;
  margin: 5em 0 2em 0;
  img {
    width: 10em;
    margin: 0 2em;
  }
  div, nav {
    display: flex;
    margin: 0 2rem 0 2rem;
    flex-direction: column;
  }
  a {
    margin: 0;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: black;
  }
  a:hover {
    text-decoration: underline 1px solid black;
  }
  p {
    width: 20rem;
    margin: 0 1rem;
    display: flex;
  }
  span { 
    width: 100%;
    justify-content: center;
    display: flex;
  }
}
block {
  width: 1000px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 2em 0;
  .block-info {
    max-width: 100%;
    a {
      width: 10em;
      margin: 2em 0;
      background-color: $second;
      border-radius: 30px;
      color: white;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }
  }
  h2 {
    color: $primary;
    width: auto;
    font-size: 3em;
    margin: 0;
    padding: 0;
  }
  .idea {
    width: auto;
    margin: 0;
    padding: 0 4em 0 0;
    span {
      font-size: 1.2em;
      color: $second;
    }
    a {
      text-decoration: underline 2px dotted blue;
      margin: auto 0 0 0;
    }
  }
}
.idea-ingri {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  margin: 0 0 0 auto;
  .i-ingri {
    width: 25em;
    max-width: 48%;
    height: 15em;
    // overflow: hidden;
    border-radius: 10px;
    color: $second;
    text-align: center;
    // object-fit: cover;
    // overflow: hidden;
    h3 {
      margin: 0;
      padding: 0;
      height: 10%;
    }
  }
  .i-ingri-img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      @include img-styles($transition-duration);
      object-fit: cover;
      overflow: hidden;
    }
    img:hover {
      @include hover-transform($hover-scale);
    }
  }
}
pattern {
  width: 100%;
  max-width: 3000px;
  background-color: $primary;
  justify-content: center;
  display: flex;
  margin: 5em 0;
  div {
    width: 90%;
    margin: 4% 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7em;
    overflow: hidden;
    height: 16em;
  }
  img {
    width: 55px;
  }
}
.units-pro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  .u-pro {
    // width: auto;
    width: 25%;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2%;
    // background-color: white;
    border-radius: 20px;
    h3 {
      text-align: center;
      width: 80%;
      margin: 2em 0 0 0;
      padding: 0;
      @include geologica($weight: 700, $cursive: 0, $sharpness: 100);
      color: white;

    }
    img {
      width: auto;
      height: 15em;
      overflow: hidden;
      @include img-styles($transition-duration)
    }
    img:hover {
      @include hover-transform($hover-scale)
    }
  }
}
.mixology-img {
  width: 60em;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 0 auto;
  img {
    width: 100%;
    height: 30em;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    @include img-styles($transition-duration)
  }
  img:hover {
    @include hover-transform($hover-scale)
  }
}
.error {
  display: flex;
  width: 40em;
  margin: 1em 0 0 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  img {
    border-radius: 10px;
  }
}
.error:hover {
  text-decoration: underline 1px solid white;
}
.content {
  width: 1000px;
  max-width: 90%;
  margin: 3em 0 0 0;
  // display: flex;
  // flex-direction: column;
  .head-content a {
    display: block;
    margin: 0.5em 0;
  }
  h3 {
    font-size: 2em;
    margin: 2em 0 1em 0;
  }
  h2, h4 {
    margin: 2em 0 1em 0;
  }
  a {
    padding: 0;
    margin: 0;
    display: inline-block;
    text-decoration: underline;
  }
  img {
    width: 60%;
    margin: 2em 0;
    display: block;
    border-radius: 10px;
    @include img-styles($transition-duration)
  }
  img:hover {
    @include hover-transform($hover-scale)
  }
  video {
    width: 100%;
    height: 30em;
    object-fit: cover;
    margin: 2em 0;
    display: block;
    border-radius: 10px;
  }
  .brand-table {
    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      background-color: white;
      td {
      border: 1px dotted #ccc;
      padding: 10px;
      }
      tbody {
      text-align: left;
      img {
        width: 100%;
      }
      }
      th {
      background-color: #ccc;
      color: #666;
      font-weight: bold;
      display: none;
      }
      tr > td:first-child {
      font-weight: bold;
      color: $second;
      width: 20%;
      }
      tr > td:nth-child(2) {
      font-weight: bold;
      }
      tr:nth-child(-n+3), tr:nth-child(7), tr:nth-child(8) {
      background-color: rgb(230, 230, 230);
      }
    }
  }
  .buy-table {
    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      background-color: white;
      td {
        border: 1px dotted #ccc;
        padding: 10px;
      }
      tbody {
        text-align: left;
      img {
        width: 100%;
      }
      }
      th {
        background-color: #ccc;
        font-weight: bold;
      }
      tr > td:first-child {
        font-weight: bold;
        // width: 15%;
      }
      // tr > td:nth-child(3) {
      //   width: 30%;
      // }
      tr:nth-child(even) {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
.product {
  display: flex;
  width: 100%;
  margin: 2em 0;
  .product-img {
    width: 30%;
    height: 30em;
    border-radius: 20px;
    background-color: #986544;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: auto;
      height: 70%;
    }
  }
  .a-buy, .a-cockt {
    display: block;
    cursor: pointer;
    width: 12em;
    margin: 1em 0;
    background-color: $primary;
    border-radius: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.7em 0;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    @include geologica($weight: 400, $cursive: 0, $sharpness: 50);
  }
  .a-cockt {
    background-color: black;
    color: white;
    // padding: 0.5em 1em;
  }
  .product-about {
    width: 65%;
    margin: 0 0 0 5%;
    p {
      margin: 2em 0;
    }
    P:last-child {
      color: grey;
    }
  }
}
.product:nth-of-type(1) .product-img, .units-pro > .u-pro:nth-child(n+1) {
  background-color: $cinnamon;
}
.product:nth-of-type(2) .product-img, .units-pro > .u-pro:nth-child(n+2) {
  background-color: $ginger;
}
.product:nth-of-type(3) .product-img, .units-pro > .u-pro:nth-child(n+3) {
  background-color: $russian;
}
blog {
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  max-width: 90%;
  justify-content: space-between;
  a {
    color: var(--text-color);
    flex-direction: column;
  }
  span {
    font-size: 0.9em;
    color: grey;
  }
  h3 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
  }
  a:hover {
    text-decoration: none;
    color: var(--a-color);
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  h2 {
    width: 100%;
    font-size: 1.8em;
    color: grey;
  }
  div {
    margin: 1em 0;
    display: flex;
    width: 48%;
    flex-direction: column;
}
}
tags {
  width: 100%;
  margin: 1em 0;
  .btn {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0);
    border: none;
    color: var(--text-color);
    padding: 0.5em;
    font-size: 1.05em;
    span {
    color: grey;
    }
  }
  .btn:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
  .btn.active {
    background-color: rgba(128, 128, 128, 0.4);
  }
  .help {
    margin: 0 0.5em 0 0;
    font-size: 1.05em;
  }
}
arttags {
  width: 100%;
  // margin: 2em 0;
  .btn {
    // cursor: pointer;
    background-color: transparent;
    border: none;
    color: grey;
    padding: 0.2em;
    font-size: 0.9em;
  }
  // .btn:hover {
  //   background-color: rgba(128, 128, 128, 0.2);
  // }
  // .btn.active {
  //   background-color: rgba(128, 128, 128, 0.4);
  // }
  .help {
    margin: 0 0.5em 0 0;
  }
}
article {
  width: 1000px;
  max-width: 90%;
  margin: 5em 0;
  h1 {
    margin: 0;
  }
  h2 {
    color: var(--text-color);
  }
  p {
    overflow: hidden;
    border-radius: 5px;
  }
  span {
    font-size: 0.9em;
    color: grey;
  }
  img {
    width: 100%;
    max-width: 80em;
    border-radius: 5px;
    @include img-styles($transition-duration)
  }
  // img:hover {
  //   @include hover-transform($hover-scale)
  // }
  a {
    color: var(--text-color);
    display: inline;
    text-decoration: underline;
  }
}
cocktails {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2em 0;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;
  .cockt {
    background-color: rgba(155, 131, 131, 0.089);
    flex-direction: column;
    border-radius: 5px;
    margin: 1em;
    width: 20em;
    font-size: 0.9em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 25em center;
    max-width: 80em;
    width: 85%;
    height: auto;
    padding: 2em 0 2em 2em;
    position: relative; 
    display: flex;
    overflow: hidden;
    div {
      width: 50%;
    }
    img {
      width: 45%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 5px 5px 0;
      object-fit: cover;
      @include img-styles($transition-duration)
    }
    img:hover {
      @include hover-transform($hover-scale)
    }
    p {
      margin: 0.5em 0;
    }
    span {
      font-size: 0.8em;
      color: $primary;
    }
    h3 {
      margin: 0.5em 0;
      font-size: 1.6em;
      color: $primary;
    }
    h4 {
      margin: 2em 0 0.5em 0;
      font-size: 1.4em;  
    }
    table {
      width: 80%;
      text-align: left;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      td {
        border: 1px dotted #ccc;
        padding: 10px;
      }
      tbody {
        text-align: left;
        img {
          width: 100%;
        }
      }
      th {
        display: none;
        color: #666;
        font-weight: bold;
      }
    }
    ol {
      padding: 0;
      margin: 0 0 2em 0;
      list-style-position: inside;
      li {
        margin: 0;
        padding: 0.4em 3em 0.4em 0;
      }
    }
  }
}
// Search
.info-cockt {
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  width: 60%;
  max-width: 70em;
  // background-image: url('./images/books.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 5px;
  align-items: left;
  justify-content: flex-start;
  .img-info {
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
  }
  h2 {
    width: 100%;
    font-size: 1.8em;
    color: grey;
  }
}
search {
  margin: 1em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 30em;
  height: 100px;
  gap: 10px;

  label {
    font-size: 1.1em;
    margin: 0 0 0 0.5em;
    width: 80%;
  }
  div {
    display: flex;
    height: 35px;
    background-color: var(--bg-color);
    z-index: 900;
    border: 0.2px solid rgb(83, 76, 76);
    border-radius: 10px;
    padding: 0.5em;
  }
  input[type="text"], button {
    border: none;
    background: none;
    outline: none;
    line-height: 1;
    z-index: 900;
    caret-color: var(--text-color);
    color: var(--text-color);
  }
  input {
    width: 100%; 
  }
  input[type="text"]::placeholder {
    color: #555454;
    font-size: 1.2em;
  }
  button {
    cursor: pointer;
    .img-svg {
      width: 20px;
      height: 20px;
    }
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0 0 0;
  padding: 0 1em;

  label {
    cursor: pointer;
    border-radius: 3px;
    padding: 2px;
    background-color: #f0e9e9;
    font-size: 0.9em;
  }
  label:hover {
    color: white;
  }
  input[type=checkbox] + label {
    background-color: #ddd;
    padding: 10px;
    display: block;
  }
  
  input[type=checkbox]:checked + label {
    background-color: green;
  }
}
// Spoiler
.spoiler {
  border: 1px dotted grey;
  border-radius: 5px;
  margin: 1em 0;
  width: calc(100% - 1px);
  max-width: calc(70em - 1px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: left;
  padding: 0;
  img {
    width: 50%;
    border-radius: 5px;
    @include img-styles($transition-duration)
    }
    img:hover {
      @include hover-transform($hover-scale)
    }
  .spoiler-header {
    width: 100%;
    cursor: pointer;
    display: flex;
    background-color: gray;
    span {
      margin: 0 0.8em 0 0.8em;
    }
  }
  .spoiler-header p {
    margin: 0;
  }
  .spoiler-content {
    padding: 2em;
    display: none;
    width: 60%;
    h2 {
      margin: 3em 0 0 0;
      font-size: 1.3em;
      color: white;
    }
  }
}
// Popup image
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  position: relative;
}
.popup-content img {
  width: 90%;
  max-height: 95vh;
  margin: 0 5%;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid white;
}
// Scroll
::-webkit-scrollbar { /* width */
  width: 10px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: black;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: black;
}
video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none !important;
}
video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none !important;
}
video::-moz-media-controls-panel {
  display: none !important;
  -appearance: none !important;
}
video::-moz-media-controls-start-playback-button {
    display: none !important;
    -appearance: none !important;
}
// @media (max-width: 1500px) {
//   header nav menu {
//     display: flex;
//   }
//   header nav a:nth-last-child(-n+2) {
//     display: none;
//   }
//   mobilemenu a:nth-last-child(1) {
//     display: block;
//   }
// }
// @media (max-width: 1100px) {
//   header nav a:nth-last-child(-n+3) {
//     display: none;
//   }
//   mobilemenu a:nth-last-child(2) {
//     display: block;
//   }
// }
// @media (max-width: 1000px) {
//   header nav a:nth-last-child(-n+4) {
//     display: none;
//   }
//   mobilemenu a:nth-last-child(3) {
//     display: block;
//   }
// }
// @media (max-width: 900px) {
//   header nav a:nth-last-child(-n+5) {
//     display: none;
//   }
//   mobilemenu a:nth-last-child(4) {
//     display: block;
//   }
// }
@media (max-width: 800px) {
  header nav a:nth-last-child(-n+5) {
    display: none;
  }
  header nav a:first-child {
    display: none;
  }
  mobilemenu a:nth-last-child(3) {
    display: block;
  }
}
@media screen and (max-width: 1250px) {
  article, blog, cocktails, .content {
    width: 90%;
  }
  .spoiler {
    width: calc(100% - 1px);
    margin: 2em 0 0 0;
    .spoiler-content {
      width: 85%;
      img {
        width: 60%;
      }
    }
  }
  .info-cockt {
    width: 90%;
  }
  principe {
    div {
      width: 70%;
    }
  }
  header, footer {
    max-width: 90%;
  }
  footer {
    div {
      flex-direction: column;
    }
    nav {
      flex-direction: row;
      a {
        padding: 0.3rem;
      }
    }
  }
  heyibri {
    width: 1600px;
    max-width: 90%;
  }
  block {
    width: 1600px;
    max-width: 90%;
    .units-pro {
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 1000px) {
  header nav menu {
    display: flex;
  }
    header nav a:nth-last-child(-n+8) {
    display: none;
  }
  mobilemenu a:nth-child(n+1) {
    display: block;
  }
}
@media screen and (max-width: 860px) {
  heyibri {
    width: 90%;
    margin-bottom: 0;
    flex-direction: column;
    margin: 0;
    h1 {
      font-size: 1.8em;
      max-width: 100%;
      margin: 2em 0;
    }
    img {
      // height: 50vh;
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
  .error {
    width: 90%;
    padding: 0;
    img {
      width: 100%;
    }
  }
  .info-cockt {
    width: 90%;
    search {
      position: relative;
      width: 90%;
      margin: 0;
    }
    .img-info {
      display: none;
    }
  }
  tags {
    font-size: 0.9em;
  }
  block {
    flex-direction: column;   
    .block-info {
      max-width: 100%;
      margin: 0 0 2em 0;
    }
    .idea-ingri, .units-pro, .mixology-img {
      max-width: 100%;
      margin: 0;
      align-items: left;
      justify-content: left;
    }
    .units-pro {
      flex-direction: column;
      align-items: center;
      .u-pro {
        width: 90%;
        padding: 2em 0;
        margin: 1em 0;
        border-radius: 20px;
        background-color: white;
      }
    }
    // .units-pro > .u-pro:nth-child(n+1) {
    //   background-color: #986544;
    // }
    // .units-pro > .u-pro:nth-child(n+2) {
    //   background-color: #d2a45d;
    // }
    // .units-pro > .u-pro:nth-child(n+3) {
    //   background-color: #ffb7b4;
    // }
  }
  .content {
    .brand-table {
      table {
      font-size: 0.8em;
        tr > td:nth-child(2) {
          font-weight: bold;
          width: 20%;
        }
      }
    }
    .buy-table {
      table {
        font-size: 0.7em;
      }
    }
  img, video {
    width: 100%;
  }
  }
  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 2em 0;
    margin: 5em 0 2em 0;
    img {
      margin: 2em 2em;
    }
    p {
      width: 80%;
      text-align: center;
    }
    div, nav {
      margin: 0 0;
    }
    nav {
      flex-direction: column;
    }
    a {
      justify-content: center;
      text-align: center;
    }
  }
  principe {
    div {
      width: 90%;
    }
    h2 {
      font-size: 1.8em;
    }
    p {
      width: 100%;
    }
  }
  cocktails {
    margin: 5em 0 0 0;
    .cockt {
      width: 100%;
      margin: 1em 0;
      div {
        width: 100%;
        margin: 15em 0 0 0;
      }
      img {
        right: none;
        left: 0;
        width: 100%;
        height: 15em;
        border-radius: 5px;
      }
      table {
        width: 90%;
      }
    }
  }
  blog {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
    }
  }
  header {
    max-width: 90%;
    nav {
      padding: 0 1em 0 1em;
    }
    a {
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }
  }
  form {
    label {
      padding: 2px 4px;
    }
  }
}
