body {
  background-color: #EEEEEE;
  color: var(--text-color);
  padding: 0 0;
  margin: 0;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 50;
}

header, footer, nav, a {
  display: flex;
  text-decoration: none;
}

header {
  justify-content: left;
  align-items: center;
  width: 1340px;
  max-width: 90%;
  background-color: black;
  border-radius: 10px;
  margin: 2em 0 0 0;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
header img {
  margin: 0 60px 0 0;
  width: 120px;
  height: auto;
}
header nav {
  height: 75px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 2% 0 2%;
}
header a {
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: white;
}
header a:hover {
  text-decoration: underline 2px solid white;
}
header .logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 70px;
  height: 75px;
  border-radius: 10px 0 0 10px;
}
header .logo img {
  width: 80%;
  height: 80%;
  padding: 0;
  margin: 0;
}
header menu {
  color: white;
  cursor: pointer;
  padding: 0;
  font-size: 1.4rem;
  margin: 0 0 0 auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40px;
  gap: 8px;
}
header menu div {
  background-color: white;
  margin: 0;
  width: 7px;
  height: 7px;
  border-radius: 1.5px;
}
header mobilemenu {
  display: none;
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
  width: 86%;
  position: fixed;
  flex-wrap: no-wrap;
  flex-direction: column;
  top: 2em;
  right: 5%;
  padding: 2%;
  border-radius: 10px;
  z-index: 1000;
}
header mobilemenu a {
  padding: 0.8em 0.8em;
  font-size: 1.2em;
  display: none;
  color: white;
  text-align: center;
}
header mobilemenu a:hover {
  text-decoration: underline 2px solid white;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
main h1 {
  font-size: 2.5em;
  margin: 2em 0 0 0;
}

heyibri {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 2.5em 0 5em 0;
  justify-content: flex-start;
  flex-direction: column;
  width: 1340px;
  max-width: 90%;
}
heyibri img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  border-radius: 10px;
}
heyibri h1 {
  font-size: 3em;
  margin: 2em 0 1em 0;
  padding: 0;
  color: #3A7189;
  max-width: 70%;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 20;
}
heyibri div {
  margin: 2em 0;
}

footer {
  flex-wrap: wrap;
  height: 22rem;
  width: 1340px;
  max-width: 90%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: white;
  font-size: 0.9em;
  padding: 1.5rem 0 0 0;
  margin: 5em 0 2em 0;
}
footer img {
  width: 10em;
  margin: 0 2em;
}
footer div, footer nav {
  display: flex;
  margin: 0 2rem 0 2rem;
  flex-direction: column;
}
footer a {
  margin: 0;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: white;
}
footer a:hover {
  text-decoration: underline 1px solid white;
}
footer p {
  width: 20rem;
  margin: 0 1rem;
  display: flex;
}
footer span {
  width: 100%;
  justify-content: center;
  display: flex;
}

block {
  width: 1340px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 5em 0;
}
block .block-info {
  width: 40em;
  max-width: 30%;
}
block .block-info a {
  width: 10em;
  margin: 2em 0;
  background-color: #028001;
  border-radius: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
block h2 {
  color: #3A7189;
  width: auto;
  font-size: 3em;
  margin: 0;
  padding: 0;
}
block .idea {
  width: auto;
  margin: 0;
  padding: 0 4em 0 0;
}
block .idea span {
  font-size: 1.2em;
  color: #028001;
}
block .idea a {
  text-decoration: underline 2px dotted blue;
  margin: auto 0 0 0;
}

.idea-ingri {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  margin: 0 0 0 auto;
}
.idea-ingri .i-ingri {
  width: 25em;
  max-width: 48%;
  height: 15em;
  border-radius: 10px;
  color: #028001;
  text-align: center;
}
.idea-ingri .i-ingri h3 {
  margin: 0;
  padding: 0;
  height: 10%;
}
.idea-ingri .i-ingri-img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}
.idea-ingri .i-ingri-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  object-fit: cover;
  overflow: hidden;
}
.idea-ingri .i-ingri-img img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

pattern {
  width: 100%;
  max-width: 3000px;
  background-color: #3A7189;
  justify-content: center;
  display: flex;
  margin: 5em 0;
}
pattern div {
  width: 90%;
  margin: 4% 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7em;
  overflow: hidden;
  height: 16em;
}
pattern img {
  width: 55px;
}

.units-pro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
}
.units-pro .u-pro {
  width: 25%;
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2%;
  border-radius: 20px;
}
.units-pro .u-pro h3 {
  text-align: center;
  width: 80%;
  margin: 2em 0 0 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 100;
  color: white;
}
.units-pro .u-pro img {
  width: auto;
  height: 15em;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.units-pro .u-pro img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.mixology-img {
  width: 60em;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 0 auto;
}
.mixology-img img {
  width: 100%;
  height: 30em;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mixology-img img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.error {
  display: flex;
  width: 40em;
  margin: 1em 0 0 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}
.error img {
  border-radius: 10px;
}

.error:hover {
  text-decoration: underline 1px solid white;
}

.content {
  width: 1000px;
  max-width: 90%;
  margin: 3em 0 0 0;
}
.content .head-content a {
  display: block;
  margin: 0.5em 0;
}
.content h3 {
  font-size: 2em;
  margin: 2em 0 1em 0;
}
.content h2, .content h4 {
  margin: 2em 0 1em 0;
}
.content a {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-decoration: underline;
}
.content img {
  width: 60%;
  margin: 2em 0;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.content video {
  width: 100%;
  height: 30em;
  object-fit: cover;
  margin: 2em 0;
  display: block;
  border-radius: 10px;
}
.content .brand-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  background-color: white;
}
.content .brand-table table td {
  border: 1px dotted #ccc;
  padding: 10px;
}
.content .brand-table table tbody {
  text-align: left;
}
.content .brand-table table tbody img {
  width: 100%;
}
.content .brand-table table th {
  background-color: #ccc;
  color: #666;
  font-weight: bold;
  display: none;
}
.content .brand-table table tr > td:first-child {
  font-weight: bold;
  color: #028001;
  width: 20%;
}
.content .brand-table table tr > td:nth-child(2) {
  font-weight: bold;
}
.content .brand-table table tr:nth-child(-n+3), .content .brand-table table tr:nth-child(7), .content .brand-table table tr:nth-child(8) {
  background-color: #e6e6e6;
}
.content .buy-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  background-color: white;
}
.content .buy-table table td {
  border: 1px dotted #ccc;
  padding: 10px;
}
.content .buy-table table tbody {
  text-align: left;
}
.content .buy-table table tbody img {
  width: 100%;
}
.content .buy-table table th {
  background-color: #ccc;
  font-weight: bold;
}
.content .buy-table table tr > td:first-child {
  font-weight: bold;
}
.content .buy-table table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.product {
  display: flex;
  width: 100%;
  margin: 2em 0;
}
.product .product-img {
  width: 30%;
  height: 30em;
  border-radius: 20px;
  background-color: #986544;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product .product-img img {
  width: auto;
  height: 70%;
}
.product .a-buy, .product .a-cockt {
  display: block;
  cursor: pointer;
  width: 12em;
  margin: 1em 0;
  background-color: #3A7189;
  border-radius: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.7em 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 50;
}
.product .a-cockt {
  background-color: black;
  color: white;
}
.product .product-about {
  width: 65%;
  margin: 0 0 0 5%;
}
.product .product-about p {
  margin: 2em 0;
}
.product .product-about P:last-child {
  color: grey;
}

.product:nth-of-type(1) .product-img, .units-pro > .u-pro:nth-child(n+1) {
  background-color: #986544;
}

.product:nth-of-type(2) .product-img, .units-pro > .u-pro:nth-child(n+2) {
  background-color: #d2a45d;
}

.product:nth-of-type(3) .product-img, .units-pro > .u-pro:nth-child(n+3) {
  background-color: #ffb7b4;
}

blog {
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1000px;
  max-width: 90%;
  justify-content: space-between;
}
blog a {
  color: var(--text-color);
  flex-direction: column;
}
blog span {
  font-size: 0.9em;
  color: grey;
}
blog h3 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}
blog a:hover {
  text-decoration: none;
  color: var(--a-color);
}
blog img {
  width: 100%;
  border-radius: 10px;
}
blog h2 {
  width: 100%;
  font-size: 1.8em;
  color: grey;
}
blog div {
  margin: 1em 0;
  display: flex;
  width: 48%;
  flex-direction: column;
}

tags {
  width: 100%;
  margin: 1em 0;
}
tags .btn {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
  border: none;
  color: var(--text-color);
  padding: 0.5em;
  font-size: 1.05em;
}
tags .btn span {
  color: grey;
}
tags .btn:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
tags .btn.active {
  background-color: rgba(128, 128, 128, 0.4);
}
tags .help {
  margin: 0 0.5em 0 0;
  font-size: 1.05em;
}

arttags {
  width: 100%;
}
arttags .btn {
  background-color: transparent;
  border: none;
  color: grey;
  padding: 0.2em;
  font-size: 0.9em;
}
arttags .help {
  margin: 0 0.5em 0 0;
}

article {
  width: 1000px;
  max-width: 90%;
  margin: 5em 0;
}
article h1 {
  margin: 0;
}
article h2 {
  color: var(--text-color);
}
article p {
  overflow: hidden;
  border-radius: 5px;
}
article span {
  font-size: 0.9em;
  color: grey;
}
article img {
  width: 100%;
  max-width: 80em;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
article a {
  color: var(--text-color);
  display: inline;
  text-decoration: underline;
}

cocktails {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2em 0;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;
}
cocktails .cockt {
  background-color: rgba(155, 131, 131, 0.089);
  flex-direction: column;
  border-radius: 5px;
  margin: 1em;
  width: 20em;
  font-size: 0.9em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 25em center;
  max-width: 80em;
  width: 85%;
  height: auto;
  padding: 2em 0 2em 2em;
  position: relative;
  display: flex;
  overflow: hidden;
}
cocktails .cockt div {
  width: 50%;
}
cocktails .cockt img {
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  object-fit: cover;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
cocktails .cockt img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
cocktails .cockt p {
  margin: 0.5em 0;
}
cocktails .cockt span {
  font-size: 0.8em;
  color: #3A7189;
}
cocktails .cockt h3 {
  margin: 0.5em 0;
  font-size: 1.6em;
  color: #3A7189;
}
cocktails .cockt h4 {
  margin: 2em 0 0.5em 0;
  font-size: 1.4em;
}
cocktails .cockt table {
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}
cocktails .cockt table td {
  border: 1px dotted #ccc;
  padding: 10px;
}
cocktails .cockt table tbody {
  text-align: left;
}
cocktails .cockt table tbody img {
  width: 100%;
}
cocktails .cockt table th {
  display: none;
  color: #666;
  font-weight: bold;
}
cocktails .cockt ol {
  padding: 0;
  margin: 0 0 2em 0;
  list-style-position: inside;
}
cocktails .cockt ol li {
  margin: 0;
  padding: 0.4em 3em 0.4em 0;
}

.info-cockt {
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  width: 60%;
  max-width: 70em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 5px;
  align-items: left;
  justify-content: flex-start;
}
.info-cockt .img-info {
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}
.info-cockt h2 {
  width: 100%;
  font-size: 1.8em;
  color: grey;
}

search {
  margin: 1em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 30em;
  height: 100px;
  gap: 10px;
}
search label {
  font-size: 1.1em;
  margin: 0 0 0 0.5em;
  width: 80%;
}
search div {
  display: flex;
  height: 35px;
  background-color: var(--bg-color);
  z-index: 900;
  border: 0.2px solid #534c4c;
  border-radius: 10px;
  padding: 0.5em;
}
search input[type=text], search button {
  border: none;
  background: none;
  outline: none;
  line-height: 1;
  z-index: 900;
  caret-color: var(--text-color);
  color: var(--text-color);
}
search input {
  width: 100%;
}
search input[type=text]::placeholder {
  color: #555454;
  font-size: 1.2em;
}
search button {
  cursor: pointer;
}
search button .img-svg {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0 0 0;
  padding: 0 1em;
}
form label {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  background-color: #f0e9e9;
  font-size: 0.9em;
}
form label:hover {
  color: white;
}
form input[type=checkbox] + label {
  background-color: #ddd;
  padding: 10px;
  display: block;
}
form input[type=checkbox]:checked + label {
  background-color: green;
}

.spoiler {
  border: 1px dotted grey;
  border-radius: 5px;
  margin: 1em 0;
  width: calc(100% - 1px);
  max-width: calc(70em - 1px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: left;
  padding: 0;
}
.spoiler img {
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.spoiler img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.spoiler .spoiler-header {
  width: 100%;
  cursor: pointer;
  display: flex;
  background-color: gray;
}
.spoiler .spoiler-header span {
  margin: 0 0.8em 0 0.8em;
}
.spoiler .spoiler-header p {
  margin: 0;
}
.spoiler .spoiler-content {
  padding: 2em;
  display: none;
  width: 60%;
}
.spoiler .spoiler-content h2 {
  margin: 3em 0 0 0;
  font-size: 1.3em;
  color: white;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
}

.popup-content img {
  width: 90%;
  max-height: 95vh;
  margin: 0 5%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid white;
}

::-webkit-scrollbar {
  /* width */
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Track */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: black;
}

video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none !important;
}

video::-moz-media-controls-panel {
  display: none !important;
  -appearance: none !important;
}

video::-moz-media-controls-start-playback-button {
  display: none !important;
  -appearance: none !important;
}

@media (max-width: 800px) {
  header nav a:nth-last-child(-n+5) {
    display: none;
  }

  header nav a:first-child {
    display: none;
  }

  mobilemenu a:nth-last-child(3) {
    display: block;
  }
}
@media screen and (max-width: 1250px) {
  article, blog, cocktails, .content {
    width: 90%;
  }

  .spoiler {
    width: calc(100% - 1px);
    margin: 2em 0 0 0;
  }
  .spoiler .spoiler-content {
    width: 85%;
  }
  .spoiler .spoiler-content img {
    width: 60%;
  }

  .info-cockt {
    width: 90%;
  }

  principe div {
    width: 70%;
  }

  header, footer {
    max-width: 90%;
  }

  footer div {
    flex-direction: column;
  }
  footer nav {
    flex-direction: row;
  }
  footer nav a {
    padding: 0.3rem;
  }

  heyibri {
    width: 1600px;
    max-width: 90%;
  }

  block {
    width: 1600px;
    max-width: 90%;
  }
  block .units-pro {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1000px) {
  header nav menu {
    display: flex;
  }

  header nav a:nth-last-child(-n+8) {
    display: none;
  }

  mobilemenu a:nth-child(n+1) {
    display: block;
  }
}
@media screen and (max-width: 860px) {
  heyibri {
    width: 90%;
    margin-bottom: 0;
  }
  heyibri h1 {
    font-size: 1.8em;
  }
  heyibri img {
    height: 50vh;
  }

  .error {
    width: 90%;
    padding: 0;
  }
  .error img {
    width: 100%;
  }

  .info-cockt {
    width: 90%;
  }
  .info-cockt search {
    position: relative;
    width: 90%;
    margin: 0;
  }
  .info-cockt .img-info {
    display: none;
  }

  tags {
    font-size: 0.9em;
  }

  block {
    flex-direction: column;
  }
  block .block-info {
    max-width: 100%;
    margin: 0 0 2em 0;
  }
  block .idea-ingri, block .units-pro, block .mixology-img {
    max-width: 100%;
    margin: 0;
    align-items: left;
    justify-content: left;
  }
  block .units-pro {
    flex-direction: column;
    align-items: center;
  }
  block .units-pro .u-pro {
    width: 90%;
    padding: 2em 0;
    margin: 1em 0;
    border-radius: 20px;
    background-color: white;
  }

  .content .brand-table table {
    font-size: 0.8em;
  }
  .content .brand-table table tr > td:nth-child(2) {
    font-weight: bold;
    width: 20%;
  }
  .content .buy-table table {
    font-size: 0.7em;
  }
  .content img, .content video {
    width: 100%;
  }

  footer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 2em 0;
    margin: 5em 0 2em 0;
  }
  footer img {
    margin: 2em 2em;
  }
  footer p {
    width: 80%;
    text-align: center;
  }
  footer div, footer nav {
    margin: 0 0;
  }
  footer nav {
    flex-direction: column;
  }
  footer a {
    justify-content: center;
  }

  principe div {
    width: 90%;
  }
  principe h2 {
    font-size: 1.8em;
  }
  principe p {
    width: 100%;
  }

  cocktails {
    margin: 5em 0 0 0;
  }
  cocktails .cockt {
    width: 100%;
    margin: 1em 0;
  }
  cocktails .cockt div {
    width: 100%;
    margin: 15em 0 0 0;
  }
  cocktails .cockt img {
    right: none;
    left: 0;
    width: 100%;
    height: 15em;
    border-radius: 5px;
  }
  cocktails .cockt table {
    width: 90%;
  }

  blog {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  blog div {
    width: 100%;
  }

  header {
    max-width: 90%;
  }
  header nav {
    padding: 0 1em 0 1em;
  }
  header a {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  }

  form label {
    padding: 2px 4px;
  }
}
